@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAxOTkudHRm|)
    }
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDcudHRm|)
    }
@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: bold;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDYudHRm|)
    }
@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: bold;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDAudHRm|)
    }
@font-face {
    font-family: "M+ 1p";
    font-style: normal;
    font-weight: 400;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDQudHRm|)
    }
@font-face {
    font-family: "M+ 1p";
    font-style: normal;
    font-weight: 200;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDUudHRm|)
    }
@font-face {
    font-family: "M+ 1p";
    font-style: normal;
    font-weight: 700;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDEudHRm|)
    }
@font-face {
    font-family: "M+ 1mn";
    font-style: normal;
    font-weight: normal;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAxOTUudHRm|)
    }
@font-face {
    font-family: "M+ 1mn";
    font-style: italic;
    font-weight: normal;
    /* actually the M+ 1mn light font repurposed using FontForge to stand-in for Italic */
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAxOTcudHRm|)
    }
@font-face {
    font-family: "M+ 1mn";
    font-style: normal;
    font-weight: bold;
    /* actually the M+ 1mn medium font repurposed using FontForge to stand-in for Bold */
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAxOTYudHRm|)
    }
@font-face {
    font-family: "M+ 1mn";
    font-style: italic;
    font-weight: bold;
    /* actually the M+ 1mn bold font repurposed using FontForge to stand-in for Bold Italic */
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDMudHRm|)
    }
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAxOTQudHRm|)
    }
@font-face {
    font-family: "FontIcons";
    font-style: normal;
    font-weight: normal;
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAxOTgudHRm|)
    }
@font-face {
    src: url(ezPJKgrMLI5iYpd7vlZT7E|Zm9udHMvMDAyMDIudHRm|);
    font-family: "SimHei";
    panose-1: 2 1 6 9 6 1 1 1 1 1
    }
