body {
    text-align: justify
    }
blockquote {
    margin: 0 0 0 2em
    }
p {
    margin: 0;
    text-indent: 1.5em
    }
.bold {
    font-weight: bold
    }
.italic {
    font-style: italic
    }
.underline {
    text-decoration: underline
    }
.mbp_pagebreak {
    margin: 0;
    display: block;
    break-after: always;
    -webkit-column-break-after: always
    }
.calibre_8 {
    margin-top: 1em;
    text-indent: 2em
    }
.calibre_9 {
    vertical-align: baseline
    }
.calibre_27049 {
    text-indent: 0
    }
.calibre_27048 {
    height: 1em
    }
.calibre_4377 {
    margin-top: 1em;
    text-indent: 0
    }
.calibre_4375 {
    margin-top: 1em;
    text-indent: 0;
    text-align: center
    }
.calibre_27050 {
    margin-top: 0;
    text-indent: 0
    }
.calibre_27434 {
    margin-top: 1em;
    text-indent: -19pt;
    margin-left: 19pt
    }
.calibre_27436 {
    margin-top: 0;
    text-indent: -19pt;
    margin-left: 19pt
    }
